.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-transform: uppercase;
  padding: 16px;
}

.button__theme {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: var(--color-dark-theme);
  overflow: hidden;
  position: relative;
  background: transparent;
}

.button__theme:hover {
  background-color: var(--color-light-accent);
  transition-duration: var(--transition-duration);
}

.button__theme:focus-visible {
  border: var(--border-light-theme);
}

.button__theme:active {
  color: var(--color-light-theme);
  background-color: var(--color-dark-theme);
}

.button__theme i {
  transition: var(--transition);
  transition-duration: var(--transition-duration);
}

.button__theme:hover i {
  transform: scale(1.2);
  color: var(--color-light-txt);
}

.button__theme:active i {
  color: var(--color-light-theme);
}

.button__form {
  color: var(--color-light-theme);
  background-color: var(--color-light-main);
  border-radius: var(--border-radius-small);
  width: 70%;
  height: 60px;
  box-shadow: 0 4px 15px rgba(42, 161, 151, 0.3);
}

.button__form:hover {
  color: var(--color-light-txt);
  background-color: var(--color-light-accent);
  transition-duration: var(--transition-duration);
  transform: translateY(-3px);
}

.button__form:focus-visible {
  border: var(--border-light-theme);
}

.button__form:active {
  color: var(--color-light-theme);
  background-color: var(--color-dark-theme);
}

.button__form--login,
.button__form--registration {
  width: 200px;
}

.button__password {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.button__password:hover {
  transform: scale(1.2);
}

.button__password:focus-visible {
  border: var(--border-light-theme);
}

.button__password:active {
  color: var(--color-light-theme);
}

@media (max-width: 1100px) {
  .button__form {
    width: 50%;
  }
  .button__form--login,
  .button__form--registration {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .button {
    padding: 12px;
  }

  .button__password {
    right: 20px;
  }

  .button__form--registration,
  .button__form--login {
    margin-top: 10px;
  }
}
