.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 0.3s;
}

.form__signin {
  left: 0;
  transition-delay: 0.25s;
  margin-left: 100px;
}

.form__signup {
  left: 100%;
  transition-delay: 0.25s;
  margin-left: 100px;
}

.form__title {
  text-align: center;
  margin-top: 35px;
}

.form__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form__item {
  min-height: 60px;
}

.form__wrapper {
  position: relative;
}

.form__input {
  color: var(--color-light-txt);
  background-color: var(--color-light-main);
  width: 250px;
  height: 50px;
  padding: 20px;
  border: none;
  border-radius: var(--border-radius-small);
  box-shadow: 0 4px 15px rgba(42, 161, 151, 0.3);
  position: relative;
}

.form__input:hover {
  background-color: var(--color-light-accent);
}

.form__input:hover::placeholder {
  color: var(--color-light-txt);
}

.form__input:focus-visible {
  /* outline: none; */
  border: var(--border-light-theme);
}

.form__input:active {
  color: var(--color-light-theme);
  background-color: var(--color-dark-theme);
}

.form__input::placeholder {
  color: var(--color-light-theme);
}

.form__icon {
  position: absolute;
  top: 7px;
  left: 7px;
}

.form__link {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1.9px;
  color: var(--color-light-txt);
  margin-top: 20px;
}

.form__link:hover {
  transform: scale(1.2);
}

.form__link:focus-visible {
  border: var(--border-light-theme);
}

.form__link:active {
  color: var(--color-light-theme);
}

.form__errors {
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;
  font-size: 14px;
  color: red;
  line-height: 1.25;
  margin-top: 8px;
  max-height: 130px;
  max-width: 240px;
}

.form__errors:empty {
  display: none;
}
