body.dark-theme {
  background-color: var(--color-dark-theme);
}

body.dark-theme .header:focus-visible {
  border: var(--border-dark-theme);
}

body.dark-theme .header::after {
  background-color: var(--color-dark-main);
}

body.dark-theme .header__title {
  color: var(--color-dark-txt);
}

body.dark-theme .header__wrapper {
  border: 2px solid var(--color-dark-main);
  box-shadow: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px #000;
}

body.dark-theme .button-theme {
  color: var(--color-dark-main);
}

body.dark-theme .button__theme:hover {
  background-color: var(--color-dark-accent);
  transition-duration: var(--transition-duration);
}

body.dark-theme .button__theme:focus-visible {
  border: var(--border-dark-theme);
}

body.dark-theme .button__theme:active {
  color: var(--color-dark-txt);
  background-color: var(--color-dark-second);
}

body.dark-theme .button__theme i {
  color: var(--color-light-theme);
  transition: var(--transition);
  transition-duration: var(--transition-duration);
}

body.dark-theme .button__theme:hover i {
  color: var(--color-dark-theme);
}

body.dark-theme .button__theme:active i {
  color: var(--color-dark-second);
}

body.dark-theme .registration__section {
  background-color: var();
}

body.dark-theme .registration__wrapper {
  background-color: var(--color-light-txt);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
}

body.dark-theme .registration__title {
  color: var(--color-dark-txt);
}

body.dark-theme .registration__box {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

body.dark-theme .button__form {
  color: var(--color-dark-theme);
  background-color: var(--color-dark-main);
  box-shadow: 0 4px 15px rgba(37, 208, 188, 0.4);
}

body.dark-theme .button__form:hover {
  background-color: var(--color-dark-theme);
  color: var(--color-dark-txt);
  transform: translateY(-3px);
}

body.dark-theme .button__form:focus-visible {
  border: var(--border-dark-theme);
}

body.dark-theme .button__form:active {
  color: var(--color-light-theme);
  background-color: var(--color-dark-second);
}

body.dark-theme .form__input {
  color: var(--color-dark-theme);
  background-color: var(--color-dark-main);
  box-shadow: 0 4px 15px rgba(37, 208, 188, 0.4);
}

body.dark-theme .form__input:hover {
  background-color: var(--color-dark-theme);
  color: var(--color-dark-txt);
}

body.dark-theme .form__input:hover::placeholder {
  color: var(--color-dark-txt);
}

body.dark-theme .form__input:focus-visible {
  border: var(--border-dark-theme);
}

body.dark-theme .form__input:active {
  color: var(--color-light-theme);
  background-color: var(--color-dark-second);
}

body.dark-theme .form__input::placeholder {
  color: var(--color-dark-theme);
}

body.dark-theme .form__link {
  color: var(--color-dark-txt);
}

body.dark-theme .form__link:focus-visible {
  border: var(--border-dark-theme);
}

body.dark-theme .form__link:active {
  color: var(--color-light-theme);
}

body.dark-theme .tooltip:hover::after {
  background: var(--color-light-theme);
  color: var(--color-light-txt);
}

body.dark-theme .header__wrapper.tooltip::before {
  background: var(--color-light-theme);
  color: var(--color-light-txt);
}
