body {
  font-family: var(--font-family-base);
  font-weight: 500;
  color: var(--color-light-txt);
  background-color: var(--color-light-theme);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
  transition: all 0.3 ease;
}

a {
  text-decoration: var(--text-decor);
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}
